body {
    background-color: #12232E;
    padding: 30px;
    margin: auto;
}
p {
     color: white;
     font-family: arial;
     font-size: 14px;
}
h1 {
    color: white;
    font-family: arial;
    font-size: 42px;
}