<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="ISO-8859-1"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link th:href="@{~/css/styles.css}" rel="stylesheet"/>
  <link href=' http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
  <title>appreciate.me</title>
</head>
<body>
<main>
  <div class="create-user-form-container">
      <span class="form-title">Create a new user</span><br>
  <form th:object="${formData}" th:action="@{/users/create}" method="post">
      <label for="firstName">First name</label><br>
      <input id="firstName" type="text" th:field="*{firstName}" required>
      <label for="lastName">Last name</label><br>
      <input id="lastName" type="text" th:field="*{lastName}" required>
      <label for="email">Email address</label><br>
      <input id="email" type="email" th:field="*{email}" required>
      <label for="age">Age</label><br>
      <input id="age"  type="number" th:field="*{age}" required>

      <label>Sex</label><br><br>
      <button type="submit" class = "button submit-button">Create user</button>
      <span class="radio-button">
          <label for="male">Male</label>
          <input id="male" name="sex" value="MALE" type="radio" th:field="*{sex}" required>
      </span><br><br>
      <span class="radio-button">
          <label for="female">Female</label>
          <input id="female" name="sex" value="FEMALE" type="radio" th:field="*{sex}" required>
      </span>
  </form>
  </div>
</main>
</body>
</html>