:root {
    --main-bg-color: #12232E;
    --main-fg-color: #007CC7;
    --light-fg-color: #4DA8DA;
    --shadow-fg-color: #203647;
}
html {
    font-size: 62.5%;
    color: white;
    font-family: Ubuntu;
}
body {
    background-color: var(--main-bg-color);
    padding: 0;
    margin: 0;
}
h1 {
    font-size: 2.4rem;
}
.top-bar {
    height: fit-content;
    width: 100%;
    padding: 0.5vw;
    font-size: 3rem;
    text-decoration: none;
    background-color: #203647;
}
.user-container {
    display: flex;
    flex-direction: column;
    background-color: var(--light-fg-color);
    box-sizing: border-box;
    padding: 0.5vw;
    border-radius: 0.5vmin;
    width: 50%;
    margin: auto;
}
.create-user-form-container {
    display: flex;
    flex-direction: column;
    background-color: var(--light-fg-color);
    box-sizing: border-box;
    padding: 1.5vw;
    border-radius: 0.5vmin;
    width: 50%;
    margin: auto;
}

input[type=text], input[type=email], input[type=number] {
    font-size: 1.8rem;
    color: white;
    box-sizing: border-box;
    width: 100%;
    background-color: var(--main-fg-color);
    padding: 0.5vw;
    margin: 0.3vw;
    margin-left: 0;
    border-radius: 0.7vmin;
}

.form-title {
    font-size: 2.4rem;
}

label {
    font-size: 1.8rem;
    color: white;
}
.radio-button {
    display: inline-block;
    align-items: center;
    vertical-align: top;
    background-color: var(--main-fg-color);
    border-radius: 1vw;
    padding: 0.3vw;
}
.user {
    display: block;
    align-items: center;
    font-size: 2.4rem;
    background-color: var(--main-fg-color);
    padding: 0.5vw;
    margin: 0.5vw;
    border-radius: 0.5vmin;
    box-shadow: 0.1vw 0.1vw 0.1vw 0.1vw var(--shadow-fg-color);
    width: auto;
}
.users-top-bar {
    display: block;
    align-items: center;
    font-size: 2.4rem;
    background-color: var(--light-fg-color);
    padding: 0.5vw;
    padding-left: 1vw;
    margin: 0.5vw;
    width: auto;
}
.button {
    float: right;
    font-size: 1em;
    text-align: center;
    text-decoration: none;
    transition-duration: 150ms;
    border: none;
    color: white;
}
.submit-button {
    display: inline-block;
    font-size: 2rem;
    height: fit-content;
    width: fit-content;
    padding: 1vw;
    margin: 0.5vw;
    border-radius: 10vw;
    background-color: var(--main-fg-color);
}
.submit-button:hover {
    background-color: #00619e;
}
.write-opinion-button {
    padding: 0;
    height: 1.2em;
    width: 1.2em;
    border-radius: 0 0.5vmin 0.5vmin 0;
    background-color: #4CAF50;
}
.remove-user-button {
    padding: 0;
    height: 1.2em;
    width: 1.2em;
    border-radius: 0.5vmin 0 0 0.5vmin;
    background-color: #f44336;
}
.add-user-button {
    padding: 0;
    height: 1.2em;
    width: 1.2em;
    border-radius: 0.5vmin;
    background-color: var(--main-fg-color);
}
.add-user-button:hover {
    background-color: #00619e;
}
.write-opinion-button:hover {
    background-color: #2ba630;
}
.remove-user-button:hover {
    background-color: #ee2415;
}
