<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="ISO-8859-1"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link rel="stylesheet" th:href="@{~/css/menu.css}"/>
    <link rel="stylesheet" th:href="@{~/css/main.css}"/>
    <link rel="stylesheet" th:href="@{~/css/buttons.css}"/>
    <link rel="stylesheet" th:href="@{~/css/containers.css}"/>
    <link rel="stylesheet" th:href="@{~/css/forms.css}"/>
    <link href=" http://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet" type="text/css">
    <title>appreciate.me</title>
</head>
<body>
<div class="top-bar"><a th:href="@{~/}">appreciate.me</a></div>
<br>
<div class="container">
    <div class="container-element-blank">
        <span><b>Template list</b></span>
        <a class="button add-button" role="button" th:href="@{/predefs/create}" title="Add a template">&#10010;</a>
    </div>
    <div class="container-element" th:each="predef: ${predefs}">
        <a th:href="@{/predefs/predef(id=${predef.getId()})}">
            <span th:text="${predef.getName()}">Template name</span>
        </a>
        <a class="button remove-button-solo" role="button" th:href="@{/predefs/deleteId(id=${predef.getId()})}"
           title="Remove this template">&#10006;</a>
    </div>
</div>
</body>
</html>